![dsia](https://static1.squarespace.com/static/5c4631190dbda3abea29db4c/t/5c465b0dc74c5024875652f7/1549343891985/?format=1500w)

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
# get matplot to show charts inline
%matplotlib inline

In [8]:
!pip install google-colab

Collecting google-colab
  Downloading https://files.pythonhosted.org/packages/70/9f/d3ec1275a089ec017f9c91af22ecd1e2fe738254b944e7a1f9528fcfacd0/google-colab-1.0.0.tar.gz (72kB)
     |████████████████████████████████| 81kB 2.7MB/s eta 0:00:011
Collecting google-auth~=1.4.0 (from google-colab)
  Downloading https://files.pythonhosted.org/packages/56/80/369a47c28ce7d9be6a6973338133d073864d8efbb62747e414c34a3a5f4f/google_auth-1.4.2-py2.py3-none-any.whl (64kB)
     |████████████████████████████████| 71kB 3.6MB/s eta 0:00:011
Collecting ipykernel~=4.6.0 (from google-colab)
  Downloading https://files.pythonhosted.org/packages/18/c3/76775a650cae2e3d9c033b26153583e61282692d9a3af12a3022d8f0cefa/ipykernel-4.6.1-py3-none-any.whl (104kB)
     |████████████████████████████████| 112kB 11.3MB/s eta 0:00:01
Collecting ipython~=5.5.0 (from google-colab)
  Downloading https://files.pythonhosted.org/packages/07/63/c987612bcf82c56eaacaf6bf01e31e53a244a0a3a0fb036ec5adc377e0fe/ipython-5.5.0-py3-none-any.whl (758kB)
     |████████████████████████████████| 768kB 8.6MB/s eta 0:00:01
Collecting notebook~=5.2.0 (from google-colab)
  Downloading https://files.pythonhosted.org/packages/96/a2/d951ebb7855743f989287486ded73cd3f66915c3ecd9c5c5a0c7ca12377a/notebook-5.2.2-py2.py3-none-any.whl (8.0MB)
     |████████████████████████████████| 8.0MB 6.3MB/s eta 0:00:011
Requirement already satisfied: six~=1.12.0 in /anaconda3/lib/python3.7/site-packages (from google-colab) (1.12.0)
Requirement already satisfied: pandas~=0.24.0 in /anaconda3/lib/python3.7/site-packages (from google-colab) (0.24.2)
Collecting portpicker~=1.2.0 (from google-colab)
  Downloading https://files.pythonhosted.org/packages/49/2c/a75ef568273036aa61319a554164e6031e31708106ea6ca10e17265e1703/portpicker-1.2.0.tar.gz
Collecting requests~=2.21.0 (from google-colab)
  Downloading https://files.pythonhosted.org/packages/7d/e3/20f3d364d6c8e5d2353c72a67778eb189176f08e873c9900e10c0287b84b/requests-2.21.0-py2.py3-none-any.whl (57kB)
     |████████████████████████████████| 61kB 9.2MB/s  eta 0:00:01
Collecting tornado~=4.5.0 (from google-colab)
  Downloading https://files.pythonhosted.org/packages/e3/7b/e29ab3d51c8df66922fea216e2bddfcb6430fb29620e5165b16a216e0d3c/tornado-4.5.3.tar.gz (484kB)
     |████████████████████████████████| 491kB 8.1MB/s eta 0:00:01
Collecting rsa>=3.1.4 (from google-auth~=1.4.0->google-colab)
  Downloading https://files.pythonhosted.org/packages/02/e5/38518af393f7c214357079ce67a317307936896e961e35450b70fad2a9cf/rsa-4.0-py2.py3-none-any.whl
Collecting pyasn1-modules>=0.2.1 (from google-auth~=1.4.0->google-colab)
  Downloading https://files.pythonhosted.org/packages/be/70/e5ea8afd6d08a4b99ebfc77bd1845248d56cfcf43d11f9dc324b9580a35c/pyasn1_modules-0.2.6-py2.py3-none-any.whl (95kB)
     |████████████████████████████████| 102kB 8.9MB/s ta 0:00:011
Collecting cachetools>=2.0.0 (from google-auth~=1.4.0->google-colab)
  Downloading https://files.pythonhosted.org/packages/2f/a6/30b0a0bef12283e83e58c1d6e7b5aabc7acfc4110df81a4471655d33e704/cachetools-3.1.1-py2.py3-none-any.whl
Requirement already satisfied: jupyter-client in /anaconda3/lib/python3.7/site-packages (from ipykernel~=4.6.0->google-colab) (5.3.1)
Requirement already satisfied: traitlets>=4.1.0 in /anaconda3/lib/python3.7/site-packages (from ipykernel~=4.6.0->google-colab) (4.3.2)
Requirement already satisfied: simplegeneric>0.8 in /anaconda3/lib/python3.7/site-packages (from ipython~=5.5.0->google-colab) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /anaconda3/lib/python3.7/site-packages (from ipython~=5.5.0->google-colab) (41.0.1)
Requirement already satisfied: pickleshare in /anaconda3/lib/python3.7/site-packages (from ipython~=5.5.0->google-colab) (0.7.5)
Requirement already satisfied: pygments in /anaconda3/lib/python3.7/site-packages (from ipython~=5.5.0->google-colab) (2.4.2)
Collecting prompt-toolkit<2.0.0,>=1.0.4 (from ipython~=5.5.0->google-colab)
  Downloading https://files.pythonhosted.org/packages/57/a8/a151b6c61718eabe6b4672b6aa760b734989316d62ec1ba4996765e602d4/prompt_toolkit-1.0.16-py3-none-any.whl (244kB)
     |████████████████████████████████| 245kB 10.0MB/s eta 0:00:01
Requirement already satisfied: pexpect; sys_platform != "win32" in /anaconda3/lib/python3.7/site-packages (from ipython~=5.5.0->google-colab) (4.7.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /anaconda3/lib/python3.7/site-packages (from ipython~=5.5.0->google-colab) (0.1.0)
Requirement already satisfied: decorator in /anaconda3/lib/python3.7/site-packages (from ipython~=5.5.0->google-colab) (4.4.0)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /anaconda3/lib/python3.7/site-packages (from notebook~=5.2.0->google-colab) (0.8.2)
Requirement already satisfied: ipython-genutils in /anaconda3/lib/python3.7/site-packages (from notebook~=5.2.0->google-colab) (0.2.0)
Requirement already satisfied: nbconvert in /anaconda3/lib/python3.7/site-packages (from notebook~=5.2.0->google-colab) (5.5.0)
Requirement already satisfied: nbformat in /anaconda3/lib/python3.7/site-packages (from notebook~=5.2.0->google-colab) (4.4.0)
Requirement already satisfied: jinja2 in /anaconda3/lib/python3.7/site-packages (from notebook~=5.2.0->google-colab) (2.10.1)
Requirement already satisfied: jupyter-core in /anaconda3/lib/python3.7/site-packages (from notebook~=5.2.0->google-colab) (4.5.0)
Requirement already satisfied: numpy>=1.12.0 in /anaconda3/lib/python3.7/site-packages (from pandas~=0.24.0->google-colab) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /anaconda3/lib/python3.7/site-packages (from pandas~=0.24.0->google-colab) (2.8.0)
Requirement already satisfied: pytz>=2011k in /anaconda3/lib/python3.7/site-packages (from pandas~=0.24.0->google-colab) (2019.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests~=2.21.0->google-colab) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests~=2.21.0->google-colab) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests~=2.21.0->google-colab) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests~=2.21.0->google-colab) (2.8)
Collecting pyasn1>=0.1.3 (from rsa>=3.1.4->google-auth~=1.4.0->google-colab)
  Downloading https://files.pythonhosted.org/packages/a1/71/8f0d444e3a74e5640a3d5d967c1c6b015da9c655f35b2d308a55d907a517/pyasn1-0.4.7-py2.py3-none-any.whl (76kB)
     |████████████████████████████████| 81kB 11.9MB/s eta 0:00:01
Requirement already satisfied: pyzmq>=13 in /anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel~=4.6.0->google-colab) (18.0.0)
Requirement already satisfied: wcwidth in /anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython~=5.5.0->google-colab) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython~=5.5.0->google-colab) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook~=5.2.0->google-colab) (1.4.2)
Requirement already satisfied: testpath in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook~=5.2.0->google-colab) (0.4.2)
Requirement already satisfied: entrypoints>=0.2.2 in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook~=5.2.0->google-colab) (0.3)
Requirement already satisfied: mistune>=0.8.1 in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook~=5.2.0->google-colab) (0.8.4)
Requirement already satisfied: bleach in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook~=5.2.0->google-colab) (3.1.0)
Requirement already satisfied: defusedxml in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook~=5.2.0->google-colab) (0.6.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /anaconda3/lib/python3.7/site-packages (from nbformat->notebook~=5.2.0->google-colab) (3.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /anaconda3/lib/python3.7/site-packages (from jinja2->notebook~=5.2.0->google-colab) (1.1.1)
Requirement already satisfied: webencodings in /anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook~=5.2.0->google-colab) (0.5.1)
Requirement already satisfied: attrs>=17.4.0 in /anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook~=5.2.0->google-colab) (19.1.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook~=5.2.0->google-colab) (0.14.11)

Building wheels for collected packages: google-colab, portpicker, tornado
  Building wheel for google-colab (setup.py) ... done
  Stored in directory: /Users/harshadshettiwar/Library/Caches/pip/wheels/38/0d/59/701e300a337b2a2e07b27fe74dbfff0bc56ac58f711566ee67
  Building wheel for portpicker (setup.py) ... done
  Stored in directory: /Users/harshadshettiwar/Library/Caches/pip/wheels/4a/45/47/1e126be9d4605e71f00d6e6fb151611f2f4cb9770b050c7d2d
  Building wheel for tornado (setup.py) ... done
  Stored in directory: /Users/harshadshettiwar/Library/Caches/pip/wheels/72/bf/f4/b68fa69596986881b397b18ff2b9af5f8181233aadcc9f76fd
Successfully built google-colab portpicker tornado
ERROR: spyder-kernels 0.5.1 has requirement ipykernel>=4.8.2, but you'll have ipykernel 4.6.1 which is incompatible.
ERROR: jupyter-console 6.0.0 has requirement prompt_toolkit<2.1.0,>=2.0.0, but you'll have prompt-toolkit 1.0.16 which is incompatible.
ERROR: distributed 2.1.0 has requirement tornado>=5, but you'll have tornado 4.5.3 which is incompatible.
Installing collected packages: pyasn1, rsa, pyasn1-modules, cachetools, google-auth, tornado, prompt-toolkit, ipython, ipykernel, notebook, portpicker, requests, google-colab
  Found existing installation: tornado 6.0.3
    Uninstalling tornado-6.0.3:
      Successfully uninstalled tornado-6.0.3
  Found existing installation: prompt-toolkit 2.0.9
    Uninstalling prompt-toolkit-2.0.9:
      Successfully uninstalled prompt-toolkit-2.0.9
  Found existing installation: ipython 7.6.1
    Uninstalling ipython-7.6.1:
      Successfully uninstalled ipython-7.6.1
  Found existing installation: ipykernel 5.1.1
    Uninstalling ipykernel-5.1.1:
      Successfully uninstalled ipykernel-5.1.1
  Found existing installation: notebook 6.0.0
    Uninstalling notebook-6.0.0:
      Successfully uninstalled notebook-6.0.0
  Found existing installation: requests 2.22.0
    Uninstalling requests-2.22.0:
      Successfully uninstalled requests-2.22.0
Successfully installed cachetools-3.1.1 google-auth-1.4.2 google-colab-1.0.0 ipykernel-4.6.1 ipython-5.5.0 notebook-5.2.2 portpicker-1.2.0 prompt-toolkit-1.0.16 pyasn1-0.4.7 pyasn1-modules-0.2.6 requests-2.21.0 rsa-4.0 tornado-4.5.3

chrome://settings/content/cookies

NOTE: Make sure third party cookies are not blocked.

In [ ]:
from google.colab import files
uploaded = files.upload()
import io
df = pd.read_csv(io.BytesIO(uploaded["Employee-attrition.csv"]))

In [0]:
df.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [0]:
df.tail()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

# Accessing the main DataFrame components

In [0]:
columns = df.columns
index = df.index
data = df.values

In [0]:
columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

In [0]:
index

RangeIndex(start=0, stop=49653, step=1)

In [0]:
data

array([[1318, '12/31/2006 0:00', '1/3/1954', ..., 2006, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2007 0:00', '1/3/1954', ..., 2007, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2008 0:00', '1/3/1954', ..., 2008, 'ACTIVE',
        'HEADOFFICE'],
       ...,
       [8279, '12/1/2015 0:00', '7/18/1994', ..., 2015, 'TERMINATED',
        'STORES'],
       [8296, '12/1/2013 0:00', '9/2/1994', ..., 2013, 'TERMINATED',
        'STORES'],
       [8321, '12/1/2014 0:00', '11/28/1994', ..., 2014, 'TERMINATED',
        'STORES']], dtype=object)

# 1. Understanding Data Types

#### 1.A Find Shape of Data Frame

In [0]:
# A:

#### 1.B Find Data Tyeps of Data Frame

In [0]:
# A:

#### 1.C Find Number of Data Types in a Data Frame



```
Expected Output:
int64      5
object    13
dtype: int64
```

#### 1.D Use Info

Use info and explore difference.

In [0]:
# A:

# 2. Selecting Column in Data Frame

#### 2.A Check Values of Job_Title column

In [0]:
# A:

#### 2.B Find How Many Rows Are in Each Job Title



```
# Expected Output
Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
.
.
.
```

In [0]:
# A:

#### 2.C [BONUS] Write A Function to Row Count



```
def row_count(column_name):
    number_of_rows = 0
    return number_of_rows
```

#### 2.D Describe 'Age'

Find count,  mean,  std, min, max of column 'age'

In [0]:
# A:

##### 2.E [BONUS] Describe 'All Numeric Columns of Data Frame

Find count, mean, std, min, max of of all columns of dataframe

In [0]:
# A:

# 3. Making The Index Meaningful

In [0]:
# A:

#### 3.A Find A Specifc Row Using Index

In [0]:
# A:

#### 3.B Sort Data Frame using Index

In [0]:
# A:

#### 3.C [BONUS] Sort Data Frame using Age

In [0]:
# A:

#### 3.D [BONUS] Using Sample Select Any Row

In [0]:
# A:

# 4. Query Data Frame

#### 4.A Find Rows Where Job_Title is CEO

In [0]:
# A:

#### 4.B Group By Age

In [0]:
# A:

# 5. Visualization

#### 5.A Plot Histogram of Age

In [0]:
# A:

#### 5.B BoxPlot of Age

In [0]:
# A:

#### 5.C Scatterplot of age and length_of_service

In [0]:
# A:

#### 5.D Plot Histogram of store_name

In [0]:
# A:

#### 5.E Print Statistical Summary of Age

In [0]:
# A: